@import mediaQueries

*
  box-sizing border-box
  margin 0
  padding 0

body
  font-family sans-serif
  background white

a
  color #004F8E

.header
  text-align center
  padding 1em 2em
  background #222
  color #FFF

  &__title
    font-size 1.5em

.configurator
  display flex
  max-width 950px
  margin 0 auto
  padding 2em

  @media small
    flex-flow column

  .panels
    @media small
      display flex
      flex 1
      order 2
      margin 20px 0 30px
    @media large
      flex 0 0 120px
      margin-right 30px

  .canvas
    flex 1

.footer
  margin-bottom 2em
  text-align center

  &__attribution
    @media small
      display block
      + *
        margin-top 1em
    @media large
      + *
        margin-left 20px
