@import mediaQueries

.panel
  @media small
    flex 1
    + *
      margin-left 1em
  @media large
    + *
      margin-top 1em

  &__title
    margin-bottom .5em
    font-size 1em
    font-weight normal

  &__items
    list-style none

  &__item
    display inline-block
    margin 0 .5em .5em 0

    &__button
      display inline-block
      width 25px
      height 25px
      border 1px solid gray
      border-radius 100%
      background transparent
      position relative

      &--black
        background #111
        &:before
          color white

      &--brown
        background #6B4331
        &:before
          color white

      &--darkblue
        background #004F8E
        &:before
          color white

      &--gray
        background #444
        &:before
          color white

      &--green
        background #00B946
        &:before
          color white

      &--lightblue
        background lightblue

      &--pink
        background #E876D7

      &--rainbow
        border 0

      &--white
        background white

      &--yellow
        background yellow

    &--selected &__button:before
      content "✔"
      font-size 2em
      display inline-block
      position absolute
      top -4px
      left 5px
